.con_nav{
    background-color: #f1f3ff;
    color: #000;  
    }
    .btn_can{
        width: 100px;
        /* color: #f1f1f1; */
    }

.offcanvas-body ul li{
    list-style: none;
    margin-top: 10px;
    padding-top: 5px;
}
.offcanvas-body ul li a{
    text-decoration: none;
    display: block;
    color: #111;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}


.home{
background-color: #f1f3ff;
}

.h1-home{
    width: 568px;
    height: 120px;
    margin-left: 50px;
    margin-top: 50px;
/*    left: 136px;
    top: 177px; */

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
    /* or 54px */


    color: #000000;
}

.p-home{
    margin-left: 50px;
    width: 468px;
    height: 60px;
}

.btn-home{
    margin-left: 50px;
}

.mobil{
padding-left: 50px;
text-align: right;
}

/* our service */
.li-os{
list-style: none;
display: inline-block;
/* padding-right: 50px; */
}

.ul-os{
    padding-left: 0;
}

.our-service{
margin-top : 8em;
margin-left: 15em;
margin-right: 15em;
}

/* why us */
.wu{
padding-top: 5em;
margin-left: 50px;
}



/* FAQ */
.card-title{
width: 113px;
height: 24px;
flex: none;
order: 1;
flex-grow: 0;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: left;
}

.h2-faq{
    margin-left: 50px;
}

.p-faq{
    margin-left: 50px;
}

.card-text{
text-align: left;
width: 199px;
height: 60px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 20px;
color: #000000;
flex: none;
order: 2;
flex-grow: 0;
margin :0;
}

.card-subtitle{
width: 32px;
height: 32px;
flex: none;
order: 0;
flex-grow: 0;
margin:0;
}

.no-3{
width: 124px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
}

.no-4{
width: 133px;
height: 24px;
flex: none;
order: 0;
flex-grow: 0;
}

.get-start{
    background-color: aqua;
}

.box{
margin-top: 10px;
margin-right: 10%;
margin-left: 10%;
width: 1168px;
height: 326px;
left: 136px;
top: 2078px;

background: #0D28A6;
border-radius: 13px;
}

.text-h1-sewa2{
    padding-top: 70px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.text-p-sewa2{
    padding-top: 14px;
    padding-left: 342px;
    padding-right: 358px;
    width: 1168px;
    height: 54px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.btn-sewa{
    margin-left: 514px;
    margin-right: 514px;
    margin-top: 52px;
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    border: none;

    width: 140px;
    height: 36px;
    left: 650px;
    top: 2304px;

    /* Primary/LimeGreen/04 */

    background: #5CB85F;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */


    /* Neutral/10 */

    color: #FFFFFF;

}


/* corousel */
body {
    font-family: Helvetica;
}
h2 {
    font-size: 24px;
    font-weight: bold;
}
.bg-aliceblue {
    background-color: #f1f3ff;
}
.bg-button {
    background-color: #5cb85f!important;
}
.bg-primary-darkblue {
    background-color: #0d28a6;
}
.testimonial-img {
    width: 80px;
    height: 80px;
}
.testimonial-rating {
    max-height: 16px;
}
.testimonial-name {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 0px;
}
.testimonial-media {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}
.testimonial-media:hover {
  background-color: #04AA6D;
  color: white;
}
.footer-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 14px;
}
.footer-social {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.alert-red {
    background-color: #fa2c5a;
}
.alert-yellow {
    background-color: #f9cc00;
}
.alert-green {
    background-color: #73ca5c;
}

/* footer */
.foot-content{
    margin-left: 10%;
    margin-right: 10%;
}

.foot_2{
    padding-left: 10%;
}

@media only screen and (max-width: 600px) {
    /* navbar and home */
    .navbar-brand{
        margin-left: 10px;
    }
    .col-lg-6{
        width: 100%;
        font-size: 16px;
        height: 100%;
    }
    .h1-home{
        width: 400px;
        height: 100%;
    }
    .p-home{
        width: 400px;
        height: 100%;
    }
    .btn-home{
        margin-top: -20px;
    }
    .mobil{
        padding-top: 40px;
        /* margin-right: 60px; */
        width: 100%;
    }
    
    /* our service */
    .cewek{
        height: 390px;
        width: 400px;
        margin-left:-200px;
    }
    .col-sm-6 h2{
        padding-top: 50px;
        margin-left:-200px;
        width: 400px;
        align:center;
    }
    .col-sm-6 p{
        /* padding-top: 50px; */
        margin-left:-200px;
        width: 400px;
        align:center;
    }
    .ceklis{
       margin-left:-200px;
       /* flex: auto;  */
    }
    /* wu */
    .wu-col{
        padding-bottom: 50px;
    }
    .col-sm-3{
        padding-bottom: 10px;
    }

    /* FAQ */
    .faq2{
        margin-left: 40px;
        width: 420px;
    }

    .box{
        margin-left: 40px;
        width: 90%;
    }
    .con-biru {
        width: 50%;
        /* align-content: center; */
    }
    .btn-sewa{
        margin: 0;
        margin-top: 60px;
        width: 100%;
        /* align-content: center; */
    }
    .text-h1-sewa2{
        font-size: 16px;
        width: 300px;
        margin-left: -50px;
        align-content: center;
    }
    .text-p-sewa2{
        font-size: 16px;
        margin-top: 20px;
        margin-left: -50px;
        width: 300px;
        padding: 0;
        align-content: center;

    }

    /* testimoni */
    .testimonial-rating{
        alin:center;
        margin-top: 20px;
        text-align: center;
    }
    .col-xl-10 p{
        text-align: center;
        text-align: justify;
    }

    /* sewa mobil */
    .card_sewa{
        border: solid black;
        margin-left: 100%;
    }
    .card-title{
        text-align: center;
    }
    .text_sewa {
        text-align: center;
    }
   
    /* footer */
    .foot_2{
        margin-left: -30px;
    }
}

@media only screen and (max-width: 376px) {
    /* navbar and home */
    .offcanvas-header{
        width: 220px;
    }
    /* .navbar-toggler-icon{
        display: none;
    } */
    .con_nav{
        margin: 0;
        padding-left: 35px;
        padding-right: 160px;
        /* display:none; */
    }
    .navbar-brand{
        /* margin-left: 100px; */
    }
    .btn_can{
        width: 70px;
        
    }

    .navbar-brand{
        margin-left: 10px;
    }
    .col-lg-6{
        margin-left: -20px;
        font-size: 16px;
        /* height: 100%; */
    }
    .h1-home{
        width: 280px;
        height: 100%;
        font-size: 24px;
    }
    .p-home{
        width: 280px;
        margin-right: 50px;
        font-size: medium;
        height: 100%;
        text-align: justify;
        
    }
    .btn-home{
        margin-top: -20px;
    }
    .mobil{
        padding-top: 40px;
        width: 312px;
        margin-left: 50px;
    }
    
    /* our service */
    .our-service{
        margin-left: 226px;
    }
    .cewek{
        margin-top: -30px;
        height: 270px;
        width: 270px;
        padding-right: 30px;
        margin-left:-200px;
    }
    .os-p{
        width: 390px;
    }
    .col-sm-6 h2{
        font-size: 24px;
        padding-top: 50px;
        margin-left: -200px;
        width: 320px;
        align:center;
    }
    .col-sm-6 p{
        /* padding-top: 50px; */
        margin-left:-200px;
        width: 280px;
        align:center;
    }
    .ul-os{
        width: 250px;
        font-size: 14px;
    }
    .ceklis{
       margin-left:-200px;
    }
    /* wu */
    .wu{
        margin-left: 30px;
    }
    .wu-col{
        padding-bottom: 50px;
    }
    .col-sm-3{
        margin-left: -20px;
        padding-bottom: 10px;
    }

    /* testimoni */
    .col-xl-10 p{
        text-align: justify;
    }
    .py-3{
        width: 340px;
    }
    .carousel-inner{
        width: 250px;
    }

    /* FAQ */
    .faq2{
        padding-left: 20px;
        padding-right: 60px;
        margin-left: 20px;
        width: 400px;
    }

    .box{
        padding-left: 20px;
        padding-right: 80px;
        margin-left: 30px;
        width: 300px;
    }
    .con-biru {
        width: 50%;
        /* align-content: center; */
    }
    .btn-sewa{
        /* margin: 0; */
        margin-left: -10px;
        margin-top: 60px;
        width: 150px;
        text-align: left;
    }
    .text-h1-sewa2{
        font-size: 20px;
        width: 300px;
        margin-left: -80px;
        align-content: center;
    }
    .text-p-sewa2{
        font-size: 14px;
        margin-top: 20px;
        margin-left: -70px;
        width: 280px;
        padding: 0;
        align-content: center;

    }

    /* testimoni */
    .testimonial-rating{
        alin:center;
        margin-top: 20px;
        text-align: center;
    }
    .col-xl-10 p{
        text-align: center;
        text-align: justify;
    }

    /* sewa mobil
    .card_sewa{
        border: solid black;
        margin-left: 100px;
    }
    .card-title{
        text-align: center;
    }
    .text_sewa {
        text-align: center;
    } */
   
    /* footer */
    .foot_2{
        margin-left: -20px;
    }
}